---
layout: layouts/base.njk
permalink: /404.html
eleventyExcludeFromCollections: true
---
<section class="empty not-found" aria-labelledby="not-found-title"><p class="eyebrow">404 · 迷路了</p><h1 id="not-found-title">这里什么都没有</h1><p class="lede">这片花园还没有长出你要找的内容。</p><a class="not-found__home" href="{{ '/' | url }}">回到首页</a></section>
